
CD00171190.pdf

*.kicad_pcb-bak

*.bak

*.o

*.bin

*.elf

*.hex

*.lst

*.map

*.srec

stm32-kicad/_autosave-bldc.kicad_pcb

stm32-kicad/_autosave-bug.kicad_pcb

stm32-kicad/svg/**

stm32-kicad/dsn/**

stm32-kicad/packages3d/**

*.dsn

svg/**

stm32flash/**

*.swp

adns-camera/bldc_thomas.png

adns-camera/manchester-10.png

stm32-kicad/psychopath.kicad_pcb

stm32-kicad/bldc.net

stm32-kicad/bldc.net
