
CD00171190.pdf

*.kicad_pcb-bak

*.bak

*.o

*.bin

*.elf

*.hex

*.lst

*.map

*.srec

stm32-kicad/_autosave-bldc.kicad_pcb

stm32-kicad/_autosave-bug.kicad_pcb

stm32-kicad/svg/**

stm32-kicad/packages3d/**

*.dsn

svg/**

stm32flash/**
